<header>
    <div class="container">
        <ul class="menu">
            <li><a href="/">All</a></li>
            {% for category in categories %}
                <li><a href="{{ path('app_category', {'id' : category.id}) }}">">{{ category.getCategoryName() }}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>