{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-lg-9">
            {% for article in articles %}
                {% if date("") > article.publicationDate and article.publicationDate is not null %}
                <h1><a href="{{ path('app_article_details', {'id' : article.id}) }}"> {{ article.articleTitle }}</a></h1>
                <p>{{ article.description }}</p>
                {{ article.userId.username }}
                <hr>
                {% endif %}
            {% endfor %}
            <form name="offset" method="post" class="table pagination">
                <table id="offset">
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text required" for="offset">Страница:</label>
                                </div>
                                <select class="form-control" id="offset" name="offset">
                                    {% for key, page in pages %}
                                        {% if page.currentPage is defined %}
                                            <option selected>{{ page.page }}</option>
                                        {% else %}
                                            <option value="{{ key }}">{{ page.page }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text required" for="qty">Количество:</label>
                                </div>
                                <select class="form-control" id="qry" name="qty">
                                    {% for i in [2,25,50,100] %}
                                        {% if qty == i %}
                                            <option selected>{{ qty }}</option>
                                        {% elseif qty == null %}
                                            <option selected>{{ i }}</option>
                                        {% else %}
                                            <option>{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary" id="go">Перейти</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col col-lg-3">
            <div class="tags">
                <h4>Список Тегов</h4>
                <ul>
                {% for tag in tags %}
                    <li><a href="{{ path('app_tags', {'id' : tag.id}) }}">{{ tag }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
