header{
    background: #5eb5e0;
    padding: 10px 0;
}
ul.menu{
    margin: 0;
    float: left;
    padding-left: 20px;
    padding-top: 7px;
}
ul.menu li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 10px 7px;
    margin: 0;
}
ul.menu li a{
    color: #fff;
}
.logo{
    padding-left: 10px;
}
.logo img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
.advertising{
    text-align: center;
}
footer{
    border-top: 2px solid #5eb5e0;
    margin-top: 20px;
    padding: 20px;
}
.for_user{
    text-align: right;
    margin-top: 10px;
}
.for_user h6{
    margin-bottom: 5px;
}
.login_bar{
    text-align: right;
    padding-top: 25px;
}
.login_bar a{
    color: #FFFFFF;
    padding: 0 7px;
}