<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="container">
            <div class="logo" style="float: left">
                <a href="{{ path('main') }}"> <img src="{{ asset('images/img-site/logo.jpg') }}" alt="logo"></a>
            </div>

            <ul class="menu ">
                <li>
                    <a href="{{ path('main') }}">Главная</a>
                </li>
                {% for category in categories %}
                    <li><a class="nav-link" href="{{ path('app_category', {'id' : category.id}) }}">{{ category.getCategoryName() }}</a></li>
                {% endfor %}
            </ul>
            {% if app.user %}
                <div class="for_user" style="float: right;">
                    <h6>Привет: {{ app.user.getUsername }}</h6>
                    <a href="{{ path('app_add_article') }}">Добавить новость</a>
                    <a href="{{ path('fos_user_security_logout') }}">Выход</a>
                </div>
            {% else %}
                <div class="login_bar">
                    <a href="{{ path('fos_user_security_login') }}">Авторизоваться</a>
                    <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                </div>
            {% endif %}
            <div style="clear: both;"></div>
        </div>
    </header>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
        <div class="container">
            <div class="advertising">
                <img src="{{ asset('images/img-site/image.gif') }}">
            </div>
        </div>
    </footer>
</html>
