{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.articleTitle }}</h1>
    <img width="800" height="600" src="{{ vich_uploader_asset(article, 'imageFile') }}" />
    <br>
    <br>
    <p>{{ article.description }}</p>
    <p>Дата создания: {{ article.createDate|date('Y/m/d') }}</p>
    <p>Дата публикации: {{ article.publicationDate|date('Y/m/d') }}</p>
    <p>Автор: <a href="{{ path('app_profile_user', {'username': article.userId })}}"> {{ article.userId }}</a></p>

    <hr>
    <table class="table">
        <tr>
            <td><p>Общий рейтинг качества статьи: {% if totalSumQuality == null %}<b>0</b>{% else %}<b>{{ totalSumQuality }}</b>{% endif %}</p></td>
            <td><p>Общий рейтинг актуальности статьи {% if totalSumActually == null %}<b>0</b>{% else %}<b>{{ totalSumActually }}</b>{% endif %}</p></td>
            <td><p>Общий рейтинг <br>довольных пользователей этой статьей:  {% if totalSumHappy == null %}<b>0</b>{% else %}<b>{{ totalSumHappy }}</b>{% endif %}</p></td>
        </tr>
        {% if app.user %}
        <tr>
            <td>
                {% if isVotesByQuality %}
                    <h1 style="color: red; font-size: 12px">Спасибо! Вы проголосовали по критерию Качество статьи</h1>
                {% else %}
                    {{ form(formQuality) }}
                {% endif %}
            </td>
            <td>
                {% if isVotesByActually %}
                    <h1 style="color: red; font-size: 12px">Спасибо! Вы проголосовали по критерию Актуальности статьи</h1>
                {% else %}
                    {{ form(formActually) }}
                {% endif %}
            </td>
            <td>
                {% if isVotesByHappy %}
                    <h1 style="color: red; font-size: 12px">Спасибо!  Вы проголосовали по критерию Доволен статьей</h1>
                {% else %}
                    {{ form(formHappy) }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>






    <hr>
    {{ form(formComment) }}
    <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}

{% endblock %}

