{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Профаил пользователя</h1>

    <table class="table">
        <tr>
            <td>Логин пользователя</td>
            <td>Email пользователя</td>
            <td>Последний раз был на сайте</td>
        </tr>
        <tr>
            <td>{{ username }}</td>
            <td>{{ email }}</td>
            <td>{{ lastLogin|date('Y/m/d') }}</td>
        </tr>
    </table>
    <br>
    <table class="table">
        <tr>
            <td>Общее количество статьей</td>
            <td>Общее количество опубликованных статьей</td>
            <td>Общее общий рейтинг пользователя</td>
        </tr>
        <tr>
            <td>{{ allUserArticle }}</td>
            <td>{{ allUserPublishArticle }}</td>
            <td>{{ averageRating }}</td>
        </tr>
    </table>
{% endblock %}